@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:wght@100&display=swap');
body {
/* CSS code goes here */
background-color:#C3CAD5;
font-family: 'Roboto', sans-serif;
font-size: 18pt;
letter-spacing: 5px;
color: white;


}
h1{
    font-family: 'Monoton', cursive;
    font-size: 25pt;
    letter-spacing:4px;
    color: white;
    padding: 5px;
    margin: auto;
    width: 35%;
    /* border: 5px solid white; */
    text-align:center;
 }

  p{
    width:60%;
    margin:0 auto;
    padding:10px;
    text-align: justify;
  }

  img{
    display:block;
    width: 400px;
    margin: 0 auto;
  }
  .information{
    margin-bottom: auto;
  }
  .links{
    text-align: center;
  }
  a:link{
    color:white;
    text-align: center;

  }
  a:visited{
    color:hotpink;
  }
/* a:link, a:visited {} */
/* a:hover, a:active {} */